@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-deep-black;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f5f5f594;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 119, 119);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@-moz-document url-prefix() {
  .scroller {
    scrollbar-width: 12px;
    scrollbar-color: #555;
  }
}
